@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso negado";
}

<div>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem acesso a este recurso do sistema!</p>
</div>
