@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-5">
        <section>
            <form method="post">
                <h1 class="grey-dark" style="margin-top: 96px; margin-bottom: 12px; text-align: center;">Esqueceu sua senha?</h1>
                <h5 class="grey-light-active" style="margin-bottom: 32px; text-align: center;">Bora lá relembrar sua senha! Insira seus dados.</h5>
                <h5>Nome de usuário ou email</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.Email" class="form-label grey-light-active">Usuário ou Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                <button type="submit" class="w-100 btn btn-lg btn-blue-normal">Bora lá</button>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="col-auto" style="margin-top: 180px; margin-left: 140px; width: 611.172px; height: 237px; flex-shrink: 0;">
            <img src="~/img/LOGOTIPO.svg" class="img-fluid">
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
