@model List<EventoWeb.Models.EventoModel>
@{
    ViewData["Title"] = "BoraLá";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/_Layout_Inicio.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <main>
        <section class="categorias">
            <h1>Encontre o evento ideal!</h1>
            <ul class="categorias-list">
                <li>
                    <a href="#">
                        <img src="~/ícones/Palestras.png" alt="Palestras">
                        <span>Palestras</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/ícones/Teatros.png" alt="Teatros">
                        <span>Teatros</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/ícones/Shows.png" alt="Shows">
                        <span>Shows</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/ícones/Stand-up.png" alt="Stand-up">
                        <span>Stand-Up</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/ícones/Culturais.png" alt="Culturais">
                        <span>Culturais</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/ícones/Religiosos.png" alt="Religiosos">
                        <span>Religiosos</span>
                    </a>
                </li>
            </ul>
        </section>

        <section class="carrossel">
            <div class="carrossel-container">
                <div class="carrossel-slide">
                    <img src="~/Imagens_Eventos/Evento-Semac.png" alt="IV SEMAC">
                    <div class="carrossel-content">
                        <h2>IV SEMAC</h2>
                        <p>“Emergências contemporâneas e transformação social”</p>
                    </div>
                </div>
                <div class="carrossel-slide">
                    <img src="~/Imagens_Eventos/Evento-Semac.png" alt="IV SEMAC">
                    <div class="carrossel-content">
                        <h2>V SEMAC</h2>
                        <p>“Emergências contemporâneas e transformação social”</p>
                    </div>
                </div>
                <div class="carrossel-slide">
                    <img src="~/Imagens_Eventos/Evento-Semac.png" alt="IV SEMAC">
                    <div class="carrossel-content">
                        <h2>VI SEMAC</h2>
                        <p>“Emergências contemporâneas e transformação social”</p>
                    </div>
                </div>
                <div class="carrossel-slide">
                    <img src="~/Imagens_Eventos/Evento-Semac.png" alt="IV SEMAC">
                    <div class="carrossel-content">
                        <h2>VII SEMAC</h2>
                        <p>“Emergências contemporâneas e transformação social”</p>
                    </div>
                </div>
            </div>
            <div class="carrossel-indicators">
                <span class="indicator active" onclick="currentSlide(0)"></span>
                <span class="indicator" onclick="currentSlide(1)"></span>
                <span class="indicator" onclick="currentSlide(2)"></span>
                <span class="indicator" onclick="currentSlide(3)"></span>
            </div>
            <button class="carrossel-btn prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="carrossel-btn next" onclick="moveSlide(1)">&#10095;</button>
        </section>

          <section class="eventos">
            <h1>Sugestões</h1>
            <div class="scroll-wrapper">
                <div class="cards-container">
                    @if(Model != null && Model.Count > 0)
                    {
                        foreach (var evento in Model)
                        {
                            if (evento.Status != null)
                            {
                                <div class="card">
                                    <div class="card-content">
                                        <h2>@evento.Nome</h2>
                                        <p>@evento.Descricao</p>
                                        <button class="btn btn-blue-normal">Bora lá</button>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <p>Não há eventos para exibir.</p>
                    }
                </div>
            </div>
        </section>

        <section class="destaque">
            <div class="destaque-content">
                <h1>Crie seu evento</h1>
                <p>Você está planejando um evento e quer garantir<br> que ele alcance o máximo de pessoas possíveis? <br>O Boralá é o lugar certo para você!</p>
                <a href="/Evento" class="btn btn-blue-normal">Criar meu evento!</a>
            </div>
        </section>

        <script src="~/js/carrossel.js"></script>
    </main>
</body>
</html>
