/Codigo/Evento/Core/obj
/Codigo/Evento/Core/bin
/Codigo/Evento/EventoWeb/bin
/Codigo/Evento/EventoWeb/obj
/Codigo/Evento/Service/bin
/Codigo/Evento/Service/obj
/Codigo/Evento/.vs
/Codigo/Evento/EventoWebTests/obj
/Codigo/Evento/EventoWebTests/bin
/Codigo/Evento/ServiceTests/bin
/Codigo/Evento/ServiceTests/obj
