@{
    ViewData["Title"] = "Inscrição realizada";
}
<div class="container mt-4" style="max-width:500px;">
    <div class="alert alert-success">
        <h4>Inscrição realizada com sucesso!</h4>
        <p>Você receberá um e-mail com as informações da sua inscrição.</p>
        <a asp-action="Index" class="btn btn-primary">Voltar para a página inicial</a>
    </div>
</div>
