@model TipoInscricaocreateModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div class="container-fluid no-padding">
    <div class="row">
        <h1 class="blue-normal">Novo Tipo de Inscrição</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Campo oculto para enviar o IdEvento -->
                    <input type="hidden" asp-for="TipoInscricao.IdEvento" />

                    <div class="form-group mb-2">
                        <label asp-for="TipoInscricao.Nome" class="control-label"></label>
                        <input asp-for="TipoInscricao.Nome" class="form-control" />
                        <span asp-validation-for="TipoInscricao.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="TipoInscricao.Descricao" class="control-label"></label>
                        <textarea asp-for="TipoInscricao.Descricao" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <span asp-validation-for="TipoInscricao.Descricao" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group mb-2">
                                <label asp-for="TipoInscricao.IdEvento" class="control-label"></label>
                                <select asp-for="TipoInscricao.IdEvento" class="form-control" asp-items="Model.Evento" disabled>
                                    
                                    <option value="@Model.TipoInscricao.IdEvento" selected>
                                        @Model.Evento.FirstOrDefault(e => e.Value == Model.TipoInscricao.IdEvento.ToString())?.Text
                                    </option>
                                </select>
                                <span asp-validation-for="TipoInscricao.IdEvento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-2">
                                <label asp-for="TipoInscricao.Valor" class="control-label"></label>
                                <input type="number" asp-for="TipoInscricao.Valor" class="form-control" />
                                <span asp-validation-for="TipoInscricao.Valor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="blue-normal">Datas</h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TipoInscricao.DataInicio" class="control-label"></label>
                                <input asp-for="TipoInscricao.DataInicio" class="form-control" type="date" />
                                <span asp-validation-for="TipoInscricao.DataInicio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TipoInscricao.Datafim" class="control-label"></label>
                                <input asp-for="TipoInscricao.Datafim" class="form-control" type="date" />
                                <span asp-validation-for="TipoInscricao.Datafim" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4 class="blue-normal">Usado em</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label asp-for="TipoInscricao.UsadaEvento" class="control-label">Evento</label>
                                <div class="d-flex align-items-center">
                                    <div class="form-check me-2">
                                        <input asp-for="TipoInscricao.UsadaEvento" class="form-check-input" type="radio" value="1" id="UsadaEventoSim">
                                        <label class="form-check-label" for="UsadaEventoSim">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="TipoInscricao.UsadaEvento" class="form-check-input" type="radio" value="2" id="UsadaEventoNao">
                                        <label class="form-check-label" for="UsadaEventoNao">Não</label>
                                    </div>
                                </div>
                                <span asp-validation-for="TipoInscricao.UsadaEvento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="TipoInscricao.UsadaSubevento" class="control-label">Subevento</label>
                                <div class="d-flex align-items-center">
                                    <div class="form-check me-2">
                                        <input asp-for="TipoInscricao.UsadaSubevento" class="form-check-input" type="radio" value="1" id="UsadaSubeventoSim">
                                        <label class="form-check-label" for="UsadaSubeventoSim">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="TipoInscricao.UsadaSubevento" class="form-check-input" type="radio" value="2" id="UsadaSubeventoNao">
                                        <label class="form-check-label" for="UsadaSubeventoNao">Não</label>
                                    </div>
                                </div>
                                <span asp-validation-for="TipoInscricao.UsadaSubevento" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex flex-row">
                        <div class="form-group" style="margin-right: 10px;">
                            <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                        </div>
                        <div class="form-group">
                            <a href="/TipoInscricao/Index?idEvento=@Model.TipoInscricao.IdEvento" class="btn btn-outline-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
