@model EventoWeb.Models.EventoModel

@{
	ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="pt-BR">

<h1 class="blue-normal">Novo evento</h1>
<div class="row">
	<div>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class= "form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" placeholder="Nome do evento" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label asp-for="Estado" class="control-label"></label>
						<select asp-for="Estado" class="form-select" asp-items="Model.Estados">
							<option value="">Selecione o estado</option>
						</select>
						<span asp-validation-for="Estado" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label asp-for="IdTipoEvento" class="control-label">Tipo do Evento</label>
						<select asp-for="IdTipoEvento" class="form-select" asp-items="Model.TiposEventos">
							<option value="">Selecione o tipo de evento</option>
						</select>
						<span asp-validation-for="Estado" class="text-danger"></span>
					</div>
					</div>
			</div>
			<br />
			<div class="row">
				<div class="col-2">
					<div class="form-group">
						<label asp-for="Status" class="control-label"></label>
						<input type="hidden" asp-for="Status" value="C">
						<span class="form-control">Cadastro</span>
						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="d-flex justify-content-end">
				<div class="d-flex flex-row">
					<div class="form-group" style="margin-right: 10px;">
						<input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
					</div>
					<div class="form-group">
						<a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		toggleInputBased('InscricaoGratuita', 'valorInscricaoGroup', '1');
		toggleInputBased('PossuiCertificado', 'FrequenciaMinimaCertificado', '0');
	</script>
}
