@model EventoWeb.Models.EventocreateModel

@{
	ViewData["Title"] = "GestorEditarEvento";
}



<h1 class="blue-normal">Gerir Evento</h1>
<div class="row">
		<form asp-action="GestorEditarEvento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Evento.Id" />
			<div class="row">
				<div class="col-9">
					<div class="form-group">
						<label asp-for="Evento.Nome" class="control-label"></label>
						<input asp-for="Evento.Nome" class="form-control" placeholder="Nome do evento" />
						<span asp-validation-for="Evento.Nome" class="text-danger"></span>
					</div>
				</div>
				
				<div class="col-3">
					<div class="form-group">
						<label asp-for="Evento.IdTipoEvento" class="control-label">Tipo do Evento</label>
						<select asp-for="Evento.IdTipoEvento" class="form-select" asp-items="Model.TiposEventos">
							<option value="">Selecione o tipo de evento</option>
						</select>
						<span asp-validation-for="Evento.IdTipoEvento" class="text-danger"></span>
					</div>
				</div>
			</div>
			
			<br />
			<div class="form-group">
				<label asp-for="Evento.Descricao" class="control-label"></label>
				<textarea asp-for="Evento.Descricao" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
				<span asp-validation-for="Evento.Descricao" class="text-danger"></span>
			</div>
			<br />
			<div class="row" >
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="Evento.DataInicio" class="control-label"></label>
						<input asp-for="Evento.DataInicio" class="form-control" />
						<span asp-validation-for="Evento.DataInicio" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="Evento.DataFim" class="control-label"></label>
						<input asp-for="Evento.DataFim" class="form-control" />
						<span asp-validation-for="Evento.DataFim" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2 align-content-end">
					<div class="form-group">
						<div class="d-flex">
							<div class="form-check" >
								<!-- Checkbox que marca se a Inscrição é Gratuita(valor 1) -->
								<input class="form-check-input" type="checkbox" value="1" id="InscricaoGratuita" name="Evento.InscricaoGratuita"
								@(Model.Evento.InscricaoGratuita == 1 ? "checked" : "")>
								<label class="form-check-label" for="InscricaoGratuita">Inscricao Gratuita</label>
								<!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
								<input type="hidden" name="Evento.InscricaoGratuita" value="0">
							</div>
						</div>
						<span asp-validation-for="Evento.EventoPublico" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2 align-content-end">
					<div class="form-group">
						<div class="d-flex">
							<div class="form-check">
								<!-- Checkbox que marca se o Evento é Público (valor 1) -->
								<input class="form-check-input" type="checkbox" value="1" id="EventoPublico" name="Evento.EventoPublico"
								@(Model.Evento.EventoPublico == 1 ? "checked" : "")>
								<label class="form-check-label" for="EventoPublico">Evento Publico</label>
								<!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
								<input type="hidden" name="Evento.EventoPublico" value="0">
							</div>
						</div>
						<span asp-validation-for="Evento.EventoPublico" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2 align-content-end">
					<div class="form-group">
						<div class="d-flex ">
							<div class="form-check">
								<!-- Checkbox que marca se o evento Possui Certificado (valor 1) -->
								<input class="form-check-input" type="checkbox" value="1" id="PossuiCertificado" name="Evento.PossuiCertificado"
								@(Model.Evento.PossuiCertificado == 1 ? "checked" : "")>
								<label class="form-check-label" for="PossuiCertificado">Possui Certificado </label>
								<!-- Campo oculto para enviar valor 0 quando o checkbox não está marcado -->
								<input type="hidden" name="Evento.PossuiCertificado" value="0">
							</div>
						</div>
						<span asp-validation-for="Evento.PossuiCertificado" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
			<div class="col-2">
				<div class="form-group">
						<label asp-for="Evento.Status" class="control-label"></label>
						<select asp-for="Evento.Status" class="form-select" aria-label="Default select example">
							<option value="C">Cadastro</option>
							<option value="A">Ativo</option>
							<option value="F">Finalizado</option>
							<option value="I">Inativo</option>
						</select>
						<span asp-validation-for="Evento.Status" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="Evento.DataInicioInscricao" class="control-label"></label>
						<input asp-for="Evento.DataInicioInscricao" class="form-control" />
						<span asp-validation-for="Evento.DataInicioInscricao" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="Evento.DataFimInscricao" class="control-label"></label>
						<input asp-for="Evento.DataFimInscricao" class="form-control" />
						<span asp-validation-for="Evento.DataFimInscricao" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
					<label asp-for="Evento.Website" class="control-label"></label>
					<input asp-for="Evento.Website" class="form-control" placeholder="Site do evento" />
					<span asp-validation-for="Evento.Website" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
					<label asp-for="Evento.EmailEvento" class="control-label">E-mail</label>
					<input asp-for="Evento.EmailEvento" class="form-control" placeholder="E-mail para contato do evento" />
					<span asp-validation-for="Evento.EmailEvento" class="text-danger"></span>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label asp-for="Evento.Cep" class="control-label"></label>
						<input asp-for="Evento.Cep" class="form-control" />
						<span asp-validation-for="Evento.Cep" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-9">
					<div class="form-group">
						<label asp-for="Evento.Rua" class="control-label"></label>
						<input asp-for="Evento.Rua" class="form-control" />
						<span asp-validation-for="Evento.Rua" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<label asp-for="Evento.Bairro" class="control-label"></label>
						<input asp-for="Evento.Bairro" class="form-control" />
						<span asp-validation-for="Evento.Bairro" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label asp-for="Evento.Numero" class="control-label"></label>
						<input asp-for="Evento.Numero" class="form-control" />
						<span asp-validation-for="Evento.Numero" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<label asp-for="Evento.Cidade" class="control-label"></label>
						<input asp-for="Evento.Cidade" class="form-control" />
						<span asp-validation-for="Evento.Cidade" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label asp-for="Evento.Estado" class="control-label"></label>
						<select asp-for="Evento.Estado" class="form-select" asp-items="Model.Estados">
							<option value="">Selecione o estado</option>
						</select>
						<span asp-validation-for="Evento.Estado" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label asp-for="Evento.Complemento" class="control-label"></label>
						<input asp-for="Evento.Complemento" class="form-control" />
						<span asp-validation-for="Evento.Complemento" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-3">
					<div class="form-group" id="FrequenciaMinimaCertificado">
						<label asp-for="Evento.FrequenciaMinimaCertificado" class="control-label">Frequência Min.</label>
						<input asp-for="Evento.FrequenciaMinimaCertificado" class="form-control" onkeypress="return validateInput(event)" />
						<span asp-validation-for="Evento.FrequenciaMinimaCertificado" class="text-danger"></span>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label asp-for="Evento.CargaHoraria" class="control-label"></label>
						<input asp-for="Evento.CargaHoraria" class="form-control" />
						<span asp-validation-for="Evento.CargaHoraria" class="text-danger"></span>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label asp-for="Evento.VagasOfertadas" class="control-label"></label>
						<input asp-for="Evento.VagasOfertadas" class="form-control" />
						<span asp-validation-for="Evento.VagasOfertadas" class="text-danger"></span>
					</div>
				</div>
			<div class="row">
				<div class="col-3">
					<div class="form-group" id="TempoMinutosReserva">
						<label asp-for="Evento.TempoMinutosReserva" class="control-label">Bloqueio de Reserva de Vaga (Minutos)</label>
						<input type="text" asp-for="Evento.TempoMinutosReserva" class="form-control" onkeypress="return validateInput(event)">
						<span asp-validation-for="Evento.TempoMinutosReserva" class="text-danger"></span>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group" id="valorInscricaoGroup">
						<label asp-for="Evento.ValorInscricao" class="control-label">Valor da Inscrição</label>
						<input type="text" asp-for="Evento.ValorInscricao" class="form-control" onkeypress="return validateInput(event)">
						<span asp-validation-for="Evento.ValorInscricao" class="text-danger"></span>
					</div>
				</div>
			</div>
			</div>
			<br />
			<div>
				<div class="form-group">
					<label asp-for="Evento.IdAreaInteresse" class="control-label">Área de Interesse</label>
					<select asp-for="Evento.IdAreaInteresse" class="form-control" asp-items="Model.AreaInteresse">
						<option value="">Selecione a área de interesse do evento</option>
					</select>
					<span asp-validation-for="Evento.IdAreaInteresse" class="text-danger"></span>
				</div>
			</div>
			<br />
			<div class="d-flex justify-content-end">
				<div class="form-group" style="margin-right: 10px;">
					<input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
				</div>
				<div class="form-group" >
					<a asp-controller="Evento" asp-action="GerenciarEventoListar" asp-route-idEvento="@Model.Evento.Id" class="btn btn-outline-danger">Voltar</a>
				</div>
			</div>
        </form>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	
	<script>
		document.getElementById('InscricaoGratuita').addEventListener('change', function () {
			this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
		});
	</script>
	<script>
		document.getElementById('EventoPublico').addEventListener('change', function () {
			this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
		});
	</script>
	<script>
		document.getElementById('PossuiCertificado').addEventListener('change', function () {
			this.nextElementSibling.value = this.checked ? 1 : 0; // Ajusta o valor do campo oculto baseado no estado do checkbox
		});
	</script>
}