@model EventoWeb.Models.PessoaCreateModel

@{
ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.NomeCracha" class="control-label"></label>
                <input asp-for="Pessoa.NomeCracha" class="form-control" />
                <span asp-validation-for="Pessoa.NomeCracha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cpf" class="control-label"></label>
                <input asp-for="Pessoa.Cpf" class="form-control" />
                <span asp-validation-for="Pessoa.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Sexo" class="control-label"></label>
                <select asp-for="Pessoa.Sexo" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="N">Não Informado</option>
                </select>
                <span asp-validation-for="Pessoa.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cep" class="control-label"></label>
                <input asp-for="Pessoa.Cep" class="form-control" />
                <span asp-validation-for="Pessoa.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Rua" class="control-label"></label>
                <input asp-for="Pessoa.Rua" class="form-control" />
                <span asp-validation-for="Pessoa.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Bairro" class="control-label"></label>
                <input asp-for="Pessoa.Bairro" class="form-control" />
                <span asp-validation-for="Pessoa.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cidade" class="control-label"></label>
                <input asp-for="Pessoa.Cidade" class="form-control" />
                <span asp-validation-for="Pessoa.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Estado" class="control-label"></label>
                <select asp-for="Pessoa.Estado" class="form-control" asp-items="Model.Estados"></select>
                <span asp-validation-for="Pessoa.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Numero" class="control-label"></label>
                <input asp-for="Pessoa.Numero" class="form-control" />
                <span asp-validation-for="Pessoa.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Complemento" class="control-label"></label>
                <input asp-for="Pessoa.Complemento" class="form-control" />
                <span asp-validation-for="Pessoa.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Email" class="control-label"></label>
                <input asp-for="Pessoa.Email" class="form-control" />
                <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Telefone1" class="control-label"></label>
                <input asp-for="Pessoa.Telefone1" class="form-control" />
                <span asp-validation-for="Pessoa.Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Telefone2" class="control-label"></label>
                <input asp-for="Pessoa.Telefone2" class="form-control" />
                <span asp-validation-for="Pessoa.Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
