@model PessoaModel

@{
ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="pt-BR">

<h1 class="blue-normal">Editar Pessoa</h1>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-6 form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Insira o nome completo" maxlength="50" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input type="file" asp-for="Foto" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif" id="fileInput" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="E-mail" maxlength="50" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="NomeCracha" class="control-label"></label>
                    <input asp-for="NomeCracha" class="form-control" placeholder="Insira o nome do crachá" maxlength="20" />
                    <span asp-validation-for="NomeCracha" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" placeholder="000.000.000-00" maxlength="14" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <br />
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Sexo" class="control-label"></label>
                        <select asp-for="Sexo" class="form-select" aria-label="Default select example">
                            <option value="N">Prefiro não dizer</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2 form-group">
                    <label asp-for="Telefone1" class="control-label"></label>
                    <input asp-for="Telefone1" class="form-control" placeholder="Com o DDD" maxlength="10" />
                    <span asp-validation-for="Telefone1" class="text-danger"></span>
                </div>
                <div class="col-2 form-group">
                    <label asp-for="Telefone2" class="control-label"></label>
                    <input asp-for="Telefone2" class="form-control" placeholder="Com o DDD" maxlength="10" />
                    <span asp-validation-for="Telefone2" class="text-danger"></span>
                </div>
            </div>
            <br />
            <h4 class="blue-normal">
                Localização
            </h4>

            <div class="row">
                <div class="col-2 form-group">
                    <label asp-for="Cep" class="control-label"></label>
                    <input asp-for="Cep" class="form-control" placeholder="0000-000" maxlength="9" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" class="form-select" asp-items="Model.Estados">
                            <option value="">Selecione o estado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" placeholder="Nome da Cidade" maxlength="50" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6 form-group">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control" placeholder="Nome do Bairro" maxlength="50" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" placeholder="Nome da Rua" maxlength="50" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2 form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" placeholder="00" maxlength="10" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control" placeholder="Complemento" maxlength="50" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-end">
            <div class="d-flex flex-row">
                <div class="form-group" style="margin-right: 10px;">
                    <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
</html>
