@model EventoWeb.Models.SubeventocreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    
    <h1 class="blue-normal">Novo Subevento</h1>
    
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.Nome" class="control-label"></label>
                        <input asp-for="Subevento.Nome" class="form-control" placeholder="Nome do sub-evento" />
                        <span asp-validation-for="Subevento.Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.IdEvento" class="control-label">Eventos</label>
                        <select asp-for="Subevento.IdEvento" class="form-control" asp-items="Model.Eventos">
                            <option value="">Selecione o Evento</option>
                        </select>
                        <span asp-validation-for="Subevento.IdEvento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Subevento.Descricao" class="control-label"></label>
                <textarea asp-for="Subevento.Descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Subevento.Descricao" class="text-danger"></span>
            </div>
            <br />
            <h4 class="blue-normal">
                Datas
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.DataInicio" class="control-label"></label>
                        <input asp-for="Subevento.DataInicio" class="form-control" />
                        <span asp-validation-for="Subevento.DataInicio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.DataFim" class="control-label"></label>
                        <input asp-for="Subevento.DataFim" class="form-control" />
                        <span asp-validation-for="Subevento.DataFim" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.DataInicioInscricao" class="control-label"></label>
                        <input asp-for="Subevento.DataInicioInscricao" class="form-control" />
                        <span asp-validation-for="Subevento.DataInicioInscricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subevento.DataFimInscricao" class="control-label"></label>
                        <input asp-for="Subevento.DataFimInscricao" class="form-control" />
                        <span asp-validation-for="Subevento.DataFimInscricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Subevento.Status" class="control-label"></label>
                        <select asp-for="Subevento.Status" class="form-select" aria-label="Default select example">
                            <option value="C">Cadastro</option>
                            <option value="A">Ativo</option>
                            <option value="F">Finalizado</option>
                            <option value="I">Inativo</option>
                        </select>
                        <span asp-validation-for="Subevento.Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Subevento.InscricaoGratuita" class="control-label"></label>
                        <select asp-for="Subevento.InscricaoGratuita" class="form-select" id="InscricaoGratuita" aria-label="Default select example">
                            <option value="0">Não</option>
                            <option value="1">Sim</option>
                        </select>
                        <span asp-validation-for="Subevento.InscricaoGratuita" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" id="valorInscricaoGroup">
                        <label asp-for="Subevento.ValorInscricao" class="control-label"></label>
                        <input type="text" asp-for="Subevento.ValorInscricao" class="form-control" onkeypress="return validateInput(event)">
                        <span asp-validation-for="Subevento.ValorInscricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <h4 class="blue-normal">
                Outros
            </h4>
            <div class ="row">
                <div class="">
                    <div class="form-group">
                        <label asp-for="Subevento.IdTipoEvento" class="control-label">Tipos de Subevento</label>
                        <select asp-for="Subevento.IdTipoEvento" class="form-control" asp-items="Model.TiposEventos">
                            <option value="">Tipo de Subevento</option>
                        </select>
                        <span asp-validation-for="Subevento.IdTipoEvento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Subevento.PossuiCertificado" class="control-label"></label>
                        <select asp-for="Subevento.PossuiCertificado" class="form-select" id="PossuiCertificado" aria-label="Default select example">
                            <option value="0">Não</option>
                            <option value="1">Sim</option>
                        </select>
                        <span asp-validation-for="Subevento.PossuiCertificado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" id="FrequenciaMinimaCertificado">
                        <label asp-for="Subevento.FrequenciaMinimaCertificado" class="control-label"></label>
                        <input asp-for="Subevento.FrequenciaMinimaCertificado" class="form-control" />
                        <span asp-validation-for="Subevento.FrequenciaMinimaCertificado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Subevento.VagasOfertadas" class="control-label"></label>
                        <input asp-for="Subevento.VagasOfertadas" class="form-control" />
                        <span asp-validation-for="Subevento.VagasOfertadas" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Subevento.CargaHoraria" class="control-label"></label>
                        <input asp-for="Subevento.CargaHoraria" class="form-control" />
                        <span asp-validation-for="Subevento.CargaHoraria" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex flex-row-reverse">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                </div>
                <div class="form-group" style="margin-right: 10px;">
                    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
