@* Views/Modelocertificado/Create.cshtml *@
@model EventoWeb.Models.ModelocertificadoModel

@{
    ViewData["Title"] = "Novo Modelo de Certificado";
}

<h1>Criar Novo Modelo de Certificado</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-controller="Modelocertificado" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="IdEvento"></label>
        <select asp-for="IdEvento" id="IdEvento" asp-items="Model.Eventos" class="form-control">
            <option value="">Selecione um evento...</option>
        </select>
        <span asp-validation-for="IdEvento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataEmissao"></label>
        <input asp-for="DataEmissao" type="date" class="form-control" />
        <span asp-validation-for="DataEmissao" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="LogotipoSuperior" class="control-label"></label>
        <input type="file" asp-for="LogotipoSuperior" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif" id="LogotipoSuperior" />
        <span asp-validation-for="LogotipoSuperior" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TextoAntesParticipante" class="control-label"></label>
        <textarea asp-for="TextoAntesParticipante" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <span asp-validation-for="TextoAntesParticipante" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TextoAntesEvento" class="control-label"></label>
        <textarea asp-for="TextoAntesEvento" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <span asp-validation-for="TextoAntesEvento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TextoAntesCargaHoraria" class="control-label"></label>
        <textarea asp-for="TextoAntesCargaHoraria" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <span asp-validation-for="TextoAntesCargaHoraria" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Assinatura1Texto" class="control-label"></label>
        <textarea asp-for="Assinatura1Texto" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <span asp-validation-for="Assinatura1Texto" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Assinatura1" class="control-label"></label>
        <input type="file" asp-for="Assinatura1" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif" id="Assinatura1" />
        <span asp-validation-for="Assinatura1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Assinatura2Texto" class="control-label"></label>
        <textarea asp-for="Assinatura2Texto" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <span asp-validation-for="Assinatura2Texto" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Assinatura2" class="control-label"></label>
        <input type="file" asp-for="Assinatura2" class="form-control" accept=".png,.jpg,.jpeg,.gif,.tif" id="Assinatura2" />
        <span asp-validation-for="Assinatura2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Codigo"></label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
        $('#IdEvento').select2({
        placeholder: "Digite para buscar um evento...",
        allowClear: true,
        width: '100%' 
        });
        });
    </script>
}