@model EventoWeb.Models.EventoModel

<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o evento "@Model.Nome"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-blue-normal" data-dismiss="modal">Cancelar</button>
                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>