/* Estilos para o Header */
.outer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.inner-container, .second-inner-container {
    display: flex;
    align-items: center;
}

.nested-container, .location-container, .profile-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.small-box, .small-absolute-box, .small-blue-box, .absolute-box {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    margin-right: 10px;
}

.placeholder-image {
    margin-right: 15px;
}

.bordered-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
}

.relative-container {
    position: relative;
}

.absolute-box, .small-absolute-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-text, .location-text, .event-text {
    font-size: 14px;
    color: #333;
}

.profile-picture {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos para o Footer */
.footer-background {
    background-color: #232ed0;
    color: #fff;
    padding: 20px 0;
}

.custom-flex-container, .flex-start-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.custom-column-flex, .column-flex-container {
    display: flex;
    flex-direction: column;
}

.tittle-text-footer, .help-text, .contact-text, .institutional-text, .about-text, .brand-text, .about-us-text, .terms-text, .half-price-law, .terms-of-service-text, .privacy-terms-text, .social-media-text {
    margin: 5px 0;
}

.custom-container, .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.icon-container {
    margin-right: 10px;
}

.icon, .custom-icon {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 50%;
}
