@using Microsoft.AspNetCore.Identity
@using EventoWeb.Areas.Identity.Data

@inject SignInManager<UsuarioIdentity> SignInManager
@inject UserManager<UsuarioIdentity> UserManager

<ul class="navbar-nav d-flex flex-row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                Olá, Bem-vindo!
                <img src="/img/img-user.svg" alt="User" width="32" height="32" class="rounded-circle ms-2">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Gerenciar Conta</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Sair</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item me-3">
            <a class="btn btn-blue-normal color-white" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-blue-normal" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastre-se</a>
        </li>
    }
</ul>
