header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0px;
}

.left-section {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo img {
    height: 40px;
}
.bi-geo-alt-fill {
    color: #232ED0;
}
.bordered-container {
    position: relative;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.relative-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute-icon {
    color: #232ED0;
    margin-right: 5px; 
    font-size: 14px; 
}

.search-container {
    flex: none; 
    width:30%; 
    border: 1px solid #232ED0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-input {
    flex: 1; 
    padding: 5px; 
    border: none;
    background: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px; 
    line-height: 20px;
    color: #232ED0;
    outline: none;
    box-sizing: border-box;
}

.btn-search {
    height: 28px; 
    padding: 5px; 
    border-radius: 8px;
    border: 1px solid #232ED0;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;
}

.nav-links a {
    margin-left: 10px;
    text-decoration: none;
}

.nav-links i {
    margin-right: 5px;
}

.right-section {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

.auth-buttons {
    display: flex;
    align-items: right;
    white-space: nowrap;
}

.auth-buttons .btn {
    margin-left: 10px;
}
.user-buttons img {
    margin-left: 17px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 54px;
    height: 54px;

}


.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-background {
    width: 100%;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #232ed0;
    color: white;
    padding: 20px 55px;
}

.custom-flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column-flex-container .institutional-text {
    text-align: left;
}

.tittle-text-footer {
    font-size: 25px;
    font-weight: bold;
}

.flex-start-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-grow: 1;
}

.flex-container .icon-container {
    margin-top: 15px;
}

.column-flex-container {
    align-items: flex-start;
    text-align: left;
    margin-bottom: 10px;
    white-space: nowrap;
}

.spacer {
    display: none;
}

.footer {
    background-color: #232ed0;
    color: white;
    text-align: left;
    width: 100%;
    padding: 20px 0;
    margin-top: auto;
}

.icon-container a {
    text-decoration: none;
}

.icon-container i.bi {
    text-decoration: none !important;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9eafa !important;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 2px solid #232ED0;
    background: #232ED0;
}

.btn-login:hover {
    background: transparent;
    color: #232ED0;
    border-radius: 8px;
    border: 2px solid #232ED0;
}

.btn-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 2px solid #232ED0;
    color: #232ED0 !important;
    background: transparent;
}

.btn-cadastrar:hover {
    background: #232ED0;
    color: white !important;
    border-radius: 8px;
    border: 2px solid #232ED0;
}

.btn-contact {
    background: #e9eafa;
    border-radius: 8px;
    height: 32px;
    line-height: 32px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.btn-contact:hover {
    background-color: white;
    color: #232ed0;
}

.btn-custom-height {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}

.contact-text {
    color: #232ed0;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.custom-column-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.institutional-text {
    color: #e8e8e8;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
}

.about {
    margin-top: 10px;
    color: #e9eafa;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
}

.social-media-container {
    color: #e9eafa;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
}

.icon-container {
    margin: 0 5px;
}

.hamburger-menu {
    display: none;
}

.menu {
    display: none;
}
.menu-gerencia {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.menu-gerencia span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
}

@media (max-width: 1000px) {
    .nav-links {
        display: flex;
        align-items: center;
        margin-right: 20px;
        white-space: nowrap;
    }
    
    .nav-links a {
        margin-left: 10px;
        text-decoration: none;
    }
    
    .nav-links i {
        margin-right: 5px;

    }

    .logo{
        margin-top: -40px;
    }

    .right-section {
        margin-left: auto; 
        display: flex;
        order: -1;
        margin-top: 10px;
        align-items: center;
        
    }
  
    .column-flex-container .institutional-text {
        margin-top: 10px;
        text-align: left;
    }
    .column-flex-container {
        align-items: flex-start;
        text-align: left;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .bordered-container {
        width: 100%; 
        max-width: 100%; 
        padding: 2px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .search-input {
        padding: 3px;
        border: none;
        background: none;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #232ED0;
        outline: none;
        box-sizing: border-box;
    }



    
}

@media  (min-width: 650px) and (max-width: 1000px) {
    .menu-icon{
        display: none;
    }
 
    .tittle-text-footer {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
    }

    .footer-background {
        flex-direction: column;
        align-items: center;
    }

    .custom-flex-container,
    .flex-start-container,
    .right-align-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .flex-start-container {
        gap: 10px;
    }
    
    .help-text {
        margin-bottom: 10px;
    }


    .flex-container {
        justify-content: center;
    }

    .column-flex-container .institutional-text {
        margin-top: 30px;
        text-align: center;
    }
    .column-flex-container {
        align-items: flex-start;
        text-align: center;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .tittle-text-footer {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
    }

    .contact-container {
        margin: 0 auto;
    }

    .social-media-container {
        text-align: center;
    }
}

@media (max-width: 650px) {
  
    .logo{
        margin-top: auto;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 1001;
    }

    .menu-icon span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #232ED0;
        margin: 5px auto;
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    .menu {
        display: none;
        position: fixed;
        top: 0;
        right: -256px; 
        background-color: #fff;
        width: 256px;
        height: 100%;
        padding-top: 80px;
        transition: right 0.3s ease-in-out;
        z-index: 999;
        flex-direction: column;
        align-items: flex-start; 
    }
    
    .menu.open {
        display: flex;
        right: 0;
    }
    
    .menu li {
        list-style-type: none;
        text-align: left;
        position: relative;
        width: 220px;
    }
    
    .menu a {
        color: rgba(26, 26, 26, 1);
        text-decoration: none;
        font-size: 18px;
        display: flex; 
        width: 100%; 
        padding: 12px 24px; 
        align-items: center; 
        box-sizing: border-box; 
    }
    
    .menu li:hover {
        background: var(--Foundation-Blue-Light, #E9EAFA);
        border-right: 3px solid var(--Foundation-Blue-Normal, #232ED0);
    }
    .menu .btn {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .menu-icon.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .tittle-text-footer {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
    }

    .footer-background {
        flex-direction: column;
        align-items: center; /* Centraliza os itens no footer */
    }

    .custom-flex-container,
    .flex-start-container,
    .right-align-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .flex-start-container {
        gap: 10px;
    }
    
    .help-text {
        margin-bottom: 10px;
    }


    .flex-container {
        justify-content: center;
    }

    .column-flex-container .institutional-text {
        margin-top: 10px;
        text-align: center;
    }
    .column-flex-container {
        align-items: flex-start;
        text-align: center;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .tittle-text-footer {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
    }

    .contact-container {
        margin: 0 auto;
    }

    .social-media-container {
        text-align: center;
    }
    .bordered-container {
        width: 100%; 
        max-width: 100%; 
        padding: 2px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .search-input {
        padding: 3px;
        border: none;
        background: none;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #232ED0;
        outline: none;
        box-sizing: border-box;
    }

    .logo img {
        height: 40px;
        left: 0;
    }

    .flex-container {
        justify-content: center;
    }

    .column-flex-container .institutional-text {
        margin-top: 10px;
        text-align: center;
    }

    .tittle-text-footer {
        font-size: 20px;
        white-space: nowrap;
        text-align: center;
    }

    .footer-background {
        flex-direction: column;
        align-items: center; /* Centraliza os itens no footer */
    }

    .custom-flex-container,
    .flex-start-container,
    .right-align-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .auth-buttons {
        display: none;
    }
    .user-buttons{
        display: none;
    }

    .nav-links {
        display: none;
    }
}