.categorias {
    margin: 1.25rem auto;
    width: 100%;
    white-space: nowrap;
}

.categorias h1 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #232ed0;
    margin-bottom: 1.875rem;
    text-align: center; 
}

.eventos h1 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #232ed0;
    margin-bottom: 1.875rem;
    text-align: left; 
}

.categorias-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    justify-content: center; 
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.categorias-list::-webkit-scrollbar {
    display: none;
}

.categorias-list li {
    flex: 0 0 auto;
    text-align: center;
    max-width: 6.25rem;
    overflow-x: hidden;
}

.categorias-list a {
    display: block;
    text-decoration: none;
    font-size: 1.125rem;
    color: rgba(28, 28, 28, 1);
}

.categorias-list img {
    width: 5rem;
    height: auto;
    margin-bottom: 0.625rem;
}

.categorias-list span {
    display: block;
    margin-top: 0.3125rem;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 79.625rem;
    overflow: hidden;
    border-radius: 0.625rem;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-slide {
    min-width: 100%;
    position: relative;
    display: none;
}

.carrossel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carrossel-content {
    position: absolute;
    bottom: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.carrossel-content h2 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

.carrossel-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
    text-align: center; 
}

.carrossel-indicators {
    display: flex;
    justify-content: center;
    gap: 0.3125rem;
    margin-top: 0.625rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    width: 2.125rem;
    height: 0.1875rem;
    background: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}

.indicator.active {
    background: white;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    font-size: 1.125rem;
    z-index: 10;
}

.carrossel-btn.prev {
    left: 0.625rem;
}

.carrossel-btn.next {
    right: 0.625rem;
}

.eventos {
    width: 100%;
    max-width: 120%;
    margin: 0 auto;
    text-align: center;
    padding: 1.25rem 0;
    overflow: hidden;
}

.eventos h1 {
    font-size: 2rem;
    color: #232ED0;
    margin-bottom: 1.25rem;
}

.scroll-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -1.25rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.scroll-wrapper::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.25rem;
    background-color: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.1875rem;
}

.cards-container {
    display: inline-flex;
    gap: 1.25rem;
    padding-bottom: 1.25rem;
}

.card {
    width: 18.625rem;
    height: 23.375rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba(238, 238, 238, 1);
    flex-shrink: 0;
}

.card-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1.125rem;
    flex-grow: 1;
    justify-content: space-between;
}

.card-content h2 {
    color: var(--Foundation-Blue-Normal, #232ED0);
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
}

.card-content p {
    font-size: 1rem;
    margin: 0 0 15px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.destaque {
    padding: 3.125rem 1.25rem;
    text-align: center;
}

.destaque-content {
    max-width: 50rem;
    margin: 0 auto;
}

.destaque h1 {
    color: #182AD5;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.destaque p {
    color: #1A1A1A;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

/* Media queries for specific screen sizes */
@media (min-width: 576px) and (max-width: 767.98px) {
    .eventos h1 {
        text-align: left;
    }
    .destaque-content p {
        font-size: 0.875rem;
    }
    .destaque-content h1 {
        font-size: 1.375rem;
    }
    .categorias h1, .eventos h1 {
        font-size: 1.5rem;
        padding-left: 0.625rem;
        text-align: center; 
    }
    .categorias-list {
        gap: 0.9375rem;
        justify-content: flex-start;
    }
    .categorias-list li {
        max-width: 5rem;
    }
    .categorias-list a {
        font-size: 1rem;
    }
    .categorias-list img {
        width: 3.75rem;
    }
    .card {
        width: 14rem;
        height: 16rem;
    }
    .card-content {
        padding: 0.75rem;
    }
    .card-content p {
        display: none;
    }
    .card-content h2 {
        font-size: 1.0rem;
    }
    .categorias-list {
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .categorias-list {
        justify-content: center;
    }
    .eventos h1 {
        text-align: left;
    }
    .destaque-content p {
        font-size: 0.75rem;
    }
    .destaque-content h1 {
        font-size: 1.25rem;
    }
    .carrossel-content h2 {
        font-size: 0.75rem;
        margin-bottom: 0.375rem;
    }
    .carrossel-content p {
        font-size: 0.625rem;
        line-height: 1.125rem;
        margin-bottom: 0.375rem;
    }
    .carrossel-content {
        bottom: 1.25rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.75rem;
    }
    .carrossel-btn {
        padding: 0.375rem;
    }
    .carrossel-btn.prev {
        left: 0.1875rem;
    }
    .carrossel-btn.next {
        right: 0.1875rem;
    }
    .carrossel-indicators .indicator {
        width: 0.375rem;
        height: 0.375rem;
    }
    .categorias h1, .eventos h1 {
        font-size: 1.25rem;
        padding-left: 0.3125rem;
        text-align: left;
    }
    .categorias-list {
        gap: 0.625rem;
        justify-content: center;
    }
    .categorias-list li {
        max-width: 3.75rem;
    }
    .categorias-list a {
        font-size: 0.875rem;
    }
    .categorias-list img {
        width: 3.125rem;
    }
    .card {
        width: 10rem;
        height: 12rem;
    }
    .card-content {
        padding: 0.5rem;
    }
    .card-content p {
        display: none;
    }
    .card-content h2 {
        font-size: 1rem;
    }
    .btn {
        font-size: 0.675rem;
    }
}
