aside {
    color: black;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}
.h4{
    right: 25px;
}
aside ul, a, li {
    list-style-type: none;
    text-decoration: none;
    align-items: start;
    padding-left: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0rem;
    padding-left: 1rem;
    font-size: 0.9rem;
}
.close-menu {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    align-self: flex-end; /* Align close button to the end */
    margin-bottom: 16px; /* Add some space below the close button */
}

aside a {
    padding: 0;
    color: black;
    width: 100%;
}

aside li.active::after, a.active::after {
    background-color: #1720ce;
    border-right-style: solid;
    border-right: 3px solid var(--Foundation-Blue-Normal, #232ED0);
    display: flex;
    position: absolute;
}

aside li:hover {
    background-color: #cacdff;
    transition: background-color 0.7s ease;
    margin: 0;
    border-right-style: solid;
    border-color: blue;
    border-right-width: 3px;
}

aside:hover {
    background-color: white;
    color: black;
    height: 100%;
}

aside h4 {
    font-weight: 650;
    padding-left: 1rem;
}

.container-sidebar-body {
    margin: 0;
}

#menu-container {
    position: relative;
}
.menu_header{
    display: flex;
    width: 218px;
    align-items: center;
    gap: 3px;
}

.menu_header h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

.menu_header .close-menu{
    display: flex;
left: 29px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: block;
    background: none;
    color: #232ED0;
    border: none;
    position: relative;
    top: 5px;
    
}

#menu-content {
    display: none; 
    background-color: #fff;
    position: fixed; 
    top: 68px; 
    left: 0; 
    width: 288px; 
    height: 100%;
    padding: 16px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
    z-index: 1000; 
    overflow-y: auto; 
}

#menu-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-content li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#menu-content li a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1001px) {
    .hamburger {
        display: none;
    }
}
