aside {
    color: black;
    height:auto;
    justify-content:center;
    align-items:center;
    background-color:white;
    position:relative;
}

    aside ul, a, li {
        list-style-type: none;
        text-decoration: none;
        align-items: start;
        padding-left: 0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-right: 0rem;
        padding-left:1rem;
        font-size:0.9rem;
    }

    aside a {
        padding: 0;
        color: black;
        width: 100%;
    }

    aside li.active::after a.active::after {
        background-color: #1720ce;
        border-right-style: solid;
        border-right: 3px solid var(--Foundation-Blue-Normal, #232ED0);
        display: flex;
        position: absolute;
    }

    aside li:hover {
        background-color: #cacdff;
        transition: background-color 0.7s ease;
        margin: 0;
        border-right-style: solid;
        border-color: blue;
        border-right-width: 3px;
    }

    aside:hover {
        background-color: white;
        color: black;
        height: 100%;
    }

    aside h4 {
        font-weight: 650;
        padding-left:2rem;
        padding-top:1rem;
        }

    .container-sidebar-body{
        margin:0;
    }