header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 16px 0px;
}

.logo img {
    height: 44px;
}

.custom-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue-normal);
}

.custom-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-footer a {
    color: #FFF;
    text-decoration: none;
}

.icon-container {
    color: #ffffff;
}

    .icon-container a:hover {
        color: #d3d3d3;
    }

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .0rem;
    padding-bottom: .0rem;
}

.offcanvas-title{
    font-size: 24px;
    color: var(--Foundation-Blue-Normal, #232ED0);
    font-weight: 600;
    line-height: 120%
}
.nav-link.opcao:hover {
    border-right: 3px solid var(--Foundation-Blue-Normal, #232ED0);
    background: var(--Foundation-Blue-Light, #E9EAFA);
 
}
.nav-link.titulo {
    color: #232ED0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.nav-link.opcao {
    color: var(--Foundation-Grey-Normal, #1A1A1A);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: flex;
    align-items: center;
   
}

.custom-toggler {
    border: none;
    outline: none;
    background: transparent;
}

.custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%230026ff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
        outline: none;
        box-shadow: none;
}

@media (max-width: 1100px) {

    .menu-area-principal {
        display: none;
    }

    .input-group {
        margin: 2vh;
    }

    .buton-menu {
        margin: 2vh;
    }
}

@media (min-width: 180px) {
    .menu-view {
        display: none;
    }
}

.footer {
    flex-shrink: 0;
}