@model AreaInteresseModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div class="main fluid">
    <div class="breadcrumb">
        <a asp-controller="Home" asp-action="Index"><img class="mb-1" src="/img/icon-wrapper.svg" /><p class="blue-normal" style="display:inline-block">Home</p></a>
        <a asp-controller="Areainteresse" asp-action="Index" class="blue-normal" style="display:inline-block;"><p>/Área de interesse</p></a>
        <p style="color:#6C757D;display:inline-block">/Criar área de interesse</p>
    </div>
    <h1 class="blue-normal">Cadastrar área de interesse</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" style="width:18rem" placeholder="Insira o nome da área de interesse" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br>
                    <input type="submit" value="Adicionar área de interesse" class="btn btn-mg btn-blue-normal color-white " />
                </div>
            </form>
        </div>
    </div>


    <button class="btn btn-mg btn-outline-danger">
        <a asp-action="Index" class=" btn-outline-danger" style="text-decoration:none;">Cancelar</a>
    </button>
   

</div>