@model AreaInteresseModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div>
    <h1 class="blue-normal">Nova Área de Interesse</h1>
    <div class="row">
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Insira o nome da área de interesse" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <br />
                <div class="d-flex justify-content-end">
                <div class="d-flex flex-row">
                    <div class="form-group" style="margin-right: 10px;">
                        <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    
</div>