@model AreaInteresseModel
@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div>
    <h1 class="blue-normal">Editar Área de interesse</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <br />
                <div class="d-flex flex-row-reverse">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-blue-normal color-white" />
                    </div>
                    <div class="form-group" style="margin-right: 10px;">
                        <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>