@model IEnumerable<EventoWeb.Models.AreaInteresseModel>


@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<div>
    <div class="breadcrumb">
        <p style="color:#6C757D;display:inline-block">햞ea de Interesse</p>
    </div>

    <h1 class="blue-normal mb-2">
        Lista de 햞eas de Interesse
    </h1>
    <h3>Confira as 햞eas de Interesse do sistema!</h3>
    
    <div class="conteiner">
        <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr class="blue-light">
                <th class="blue-normal">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="blue-normal">A寤es</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" }) |
                            @{
                                var deleteModel = new EventoWeb.Models.DeleteModel
                                {
                                    ModalId = "deleteModal-" + item.Id,
                                    ActionName = "Delete",
                                    ControllerName = "AreaInteresse",
                                    RouteValues = item.Id,
                                    ConfirmMessage = $"Tem certeza que deseja excluir a 햞ea de Interesse \"{item.Nome}\" ?",
                                    ItemName = item.Nome
                                };
                            }

                            <a class="danger-normal" style="text-decoration:none;" href="#!" data-toggle="modal" data-target="#@deleteModel.ModalId">Excluir</a>
                            @await Html.PartialAsync("_DeleteModal", deleteModel)

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <h3 class="blue-normal ">Defina uma nova 햞ea de Interesse!</h3>
    <button type="button" class="btn-blue-normal btn btn-lg mb-2">
        <a asp-action="Create" style="text-decoration:none; color:white">Cadastrar 햞ea de Interesse</a>
    </button>
</div>
