@model IEnumerable<EventoWeb.Models.AreaInteresseModel>


@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css">

<div>
    <h1 class="blue-normal mb-2">
        Confira as áreas de Interesse do sistema!
    </h1>
    <button type="button" class="btn-blue-normal btn btn-lg mb-2">
        <a asp-action="Create" style="text-decoration:none; color:white">Nova área de Interesse</a>
    </button>
    <div class="conteiner">
        <table class="table table-striped">
        <thead class="blue-normal blue-normal-bg-table">
            <tr class="blue-light">
                <th class="blue-normal">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="blue-normal">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @style = "text-decoration:none;" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @style = "text-decoration:none;", @class = "danger-normal" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>
